*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: end;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  align-items: start;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  white-space: nowrap;
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  position: absolute;
  overflow: hidden;
}

.search-form__textfield {
  color: #fff;
  min-width: 225px;
  min-height: 27px;
  border-top: 1px solid currentColor;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid currentColor;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  padding: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__checkbox:focus-visible {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox[type='checkbox']:checked + .search-form__pseudo-checkbox {
  outline: 1px solid #fff;
  outline-offset: 2px;
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin: 2px;
}

.button {
  width: 194px;
  height: 34px;
  color: #fff;
  border: 1px solid currentColor;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}


button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
}

.button:active,
.content__card-link:active,
.content__card-link_current {
  background: #545050;
}

.content__details {
  display: flex;
  width: 399px;
  gap: 26;
  flex-direction: column;
}

.title {
  font-family: 'Oswald', 'Arial', 'sans-serif';
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 94%;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__list-item {
  width: 398px;
} 

.content__card-link {
  display: flex;
  text-decoration: none;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  outline: none;
  text-decoration: underline #fff;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  width: 200px;
}

.content__video-card-title {
  font-family: 'Oswald', 'Arial', sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%; 
  text-transform: uppercase;
}

.content__video-card-description {
font-family: 'Fira Sans Condensed', Arial, sans-serif;
color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 16.2px;
}

.content__video-card-thumbnail {
  object-fit: contain;
  object-position: center;
  height: 103px;
}

.more-button {
  display: flex;
  width: 399px;
  height: 34px;
  justify-content: center;
  align-items: center;
}